ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    color: #565656;
}

h2 {
    font-size: 1em;
    margin: 0;
    color: #565656;
}

body {
    margin: 0px;
    font-family: verdana;
    border-left: 20px solid #EFEEE9;
    border-right: 20px solid #EFEEE9;
    position: relative;
}

#nav>ul>li {
    float: left;
}

#nav>ul>li>a {
    text-decoration: none;
    color: #888381;
    display: block;
    width:125px;
    text-align: center;
    padding: 70px 10px 40px 10px;
    margin-top: 0px;
}

#nav>ul>li>a:hover, #nav>ul>li>a:active {
    background-color: #73196C;
    color:white;
}

#nav .active {
    background-color: #73196C;
    color:white;
}

#logo {
    float: left;
    display: block;
    border-right: 1px solid #f4f4f4;
    height: 129px;
}

.mainlogo {
    width: 200px;
    margin: 17px 30px 0px 30px;
}

#maintext {
    font-size: 2.5em;
    margin: 70px 200px 50px 200px;
    text-align: center;
    color: #888381;
}

.mainboxes {
    width: 294px;
    height: 200px;
    background-color: #EFEDE9;
    margin: 50px 15px 50px 15px;
    float: left;
    padding: 60px 40px 30px 40px;
    text-align: center;
    color: #888381;
}

#mainboxsection {
    width: 1212px;
    margin-left: auto;
    margin-right: auto;
}

.naked {
    margin: 50px 175px 50px 175px;
    color: #888381;
    text-align: justify;
}

#contactform {
    margin: 30px 0px 20px 0px;
}